<!DOCTYPE html>
<html>
<head>
  <title>Steam App</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon" /> -->

<body>
  
  <h1>Логин</h1>
    <label for="login">Логин</label>
    <input type="text" id="login" name="login">
    <label for="password">Пароль</label>
    <input type="password" id="password" name="password">
    <button id="button-log">Войти</button>
    <div class="login-button"></div>


    <script type="module" src="/javaScript/login.js"></script>
<!--   <script type="module" src="/javascript/main.js"></script>
  <script type="module" src="/javascript/loadingIndicator.js"></script> -->
</body>
</html>