<!DOCTYPE html>
<html>
<head>
  <title>Steam App</title>
  <link rel="stylesheet" href="/styles/reg/log.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/payment.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <!-- Yandex.Metrika counter -->
<!--     <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
  
      ym(97885298, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/97885298" style="position:absolute; left:-9999px;" alt="" /></div></noscript> -->
    <!-- /Yandex.Metrika counter -->
  <div id="home-container" class="home-container">
    <header>
      <div class="logo-contact">
        <section id="logo" class="logo">
          <a href="/">
            <img src="../img/logo.png">
          </a>
        </section>
        <nav>
          <a id="contact"  class="contact" href="/contact">Контакты</a>
        </nav>
      </div>
      <section id="profile-info" class="profile-info">
      </section>
  <!--       <div id="profile-info-balance" class="profile-info-balance">

        </div>
        <div id="profile-info-link" class="profile-info-link">
          <a id="profile-info-menu" class="profile-info-link-menu"></a>
          <button id="logout">Выйти</button>
        </div>
      -->
    </header>
    <main style="display: flex; justify-content: center; align-items: center; height: 80%; flex-direction: column; gap: 30px;">
      <h2>
        Упс! Видимо это действите требует авторизации. Войдите в аккаунт, пожалуйста.
      </h2>
      <div class="main-content-top-elements-button">
        <a href="/auth/login">Войти в аккаунт</a>
      </div>
      <h4 style="color: gray">
        Если у Вас ещё нет аккаунта, рекомендуем пройти быструю регистрацию <a href="/auth/registration" style="color: #FF7A00"> зарегистрироваться</a>
      </h4>
    </main>

    <!-- <h1>Логин</h1> -->
<!--     <div id="container" class="container">
      <div id="login-container" class="login-container">
        <label for="login">Логин</label>
        <input type="text" id="login" name="login">
      </div>
      <div id="password-container" class="password-container">
        <label for="password">Пароль</label>
        <input type="text" id="password" name="password">
      </div>
        <button id="button-log">Войти</button>
        <div class="login-button"></div>
        <div class="indicator-log" id="indicator-log"></div>
        <script type="module" src="/javaScript/login.js"></script>
    </div> -->
    <section id="payment-icons" class="payment-icons">
      <div id="payment-icons-container" class="payment-icons-container">
        <img src="/img/pay/brandico_mastercard.png">
      </div>
      <div id="payment-icons-container" class="payment-icons-container">
        <img src="/img/pay/brandico_visa.png">
      </div>
      <div id="payment-icons-container" class="payment-icons-container">
        <img src="/img/pay/cryptocurrency_usdt.png">
      </div>
    </section>
    <footer id="footer" class="footer">
      <section id="footer-container" class="footer-container">
        <div id="footer-top" class="footer-top">
          <div id="footer-top-left" class="footer-top-left">
            <h3>О сайте</h3>
            <div>
              <a href="https://t.me/Mmopix_shop">Поддержка</a>
            </div>
          </div>
          <div id="footer-top-right" class="footer-top-right">
            <h3>Клиенту</h3>
            <div>
              <a href="/">Политика конфиденциальности</a>
              <a href="/">Использование cookies</a>
              <a href="/">Правила</a>
              <a href="/">Публичная оферта</a>
            </div>
          </div>
        </div>
        <div id="footer-bot" class="footer-bot">
          <p>Site не одобрен, не связан напрямую, не поддерживается и не спонсируется Blizzard Entertainment, Bungie, Electronic Arts, Grinding Gear Games, Activision Publishing, Square Enix Co., Valve, Battlestate Games, Wargaming.net Limited, Amazon Technologies, Jagex Limited. , Riot Games, Smilegate RPG, Digital Extremes. Взгляды и мнения, выраженные Site, не отражают точку зрения кого-либо, официально связанного с производством или управлением их игровых франшиз. Защищенные авторским правом произведения искусства, представленные в Site или через него, остаются интеллектуальной собственностью соответствующего правообладателя. Site не занимается продажей внутриигровых предметов. Вместо этого наш сервис направлен на улучшение игровых навыков игроков и иногда дарит пользователям внутриигровые предметы.</p>
        </div>
      </section>
    </footer>
  </div>

    <script type="module" src="/javaScript/login.js"></script>
<!--   <script type="module" src="/javascript/main.js"></script>
  <script type="module" src="/javascript/loadingIndicator.js"></script> -->
</body>
</html>