<!DOCTYPE html>
<html>
<head>
  <title>Steam App</title>
  <link rel="stylesheet" href="/styles/reg/reg.css">
  <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon" /> -->

<body>
  <h1>Регистрация</h1>
    <label for="login">Логин</label>
    <input type="text" id="login" name="login">
    <label for="email">Email</label>
    <input type="email" id="email" name="email">
    <label for="password">Пароль</label>
    <input type="text" id="password" name="password">
    <label for="passwordTwo">Повторный ввод пароля</label>
    <input type="text" id="passwordTwo" name="passwordTwo">
    <button id="registration-button">Регистрация</button>    
    <div class="indicator-reg"></div>

    
    <script type="module" src="/javaScript/registration.js"></script>
<!--   <script type="module" src="/javascript/main.js"></script>
  <script type="module" src="/javascript/loadingIndicator.js"></script> -->
</body>
</html>