<!DOCTYPE html>
<html>
<head>
  <title>Steam App</title>
  <link rel="stylesheet" href="/styles/reg/reg.css">
  <link rel="stylesheet" href="/styles/load.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  
<body>
  <h1>Регистрация</h1>
  <div id="container" class="container">
    <div id="login-container" class="login-container">
      <label for="login">Логин</label>
      <input type="text" id="login" name="login">
    </div>
    <div id="email-container" class="email-container">
      <label for="email">Email</label>
      <input type="email" id="email" name="email">
    </div>
    <div id="password-container" class="password-container">
      <label for="password">Пароль</label>
      <input type="text" id="password" name="password">
    </div>
    <div id="passwordtwo-container" class="passwordtwo-container">
      <label for="passwordTwo">Повторный ввод пароля</label>
      <input type="text" id="passwordTwo" name="passwordTwo">
    </div>
    <button id="registration-button">Регистрация</button>    
    <div class="indicator-reg" id="indicator-reg"></div>
  </div>

    <script type="module" src="/javaScript/registration.js"></script>
<!--   <script type="module" src="/javascript/main.js"></script>
  <script type="module" src="/javascript/loadingIndicator.js"></script> -->
</body>
</html>