<!DOCTYPE html>
<html>
<head>
  <title>Steam App</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/load.css">
  <link rel="stylesheet" href="/styles/pagination.css">
  <link rel="stylesheet" href="/styles/modal.css">
  <link rel="stylesheet" href="/styles/payment.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/admin/admin.css">
  <link rel="stylesheet" href="/styles/admin/users.css">
  <link rel="stylesheet" href="/styles/admin/switch.css">
  <link rel="stylesheet" href="/styles/admin/finances.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  
<body>
  <div id="admin-container" class="admin-container">
    <header>
      <div class="logo-contact">
        <section id="logo" class="logo">
          <a href="/">
            <img src="img/logo.png">
          </a>
        </section>
        <nav>
          <a id="contact"  class="contact" href="/contact">Контакты</a>
        </nav>
      </div>
      <section id="profile-info" class="profile-info">
      </section>
  <!--       <div id="profile-info-balance" class="profile-info-balance">
  
        </div>
        <div id="profile-info-link" class="profile-info-link">
          <a id="profile-info-menu" class="profile-info-link-menu"></a>
          <button id="logout">Выйти</button>
        </div>
       -->
    </header>
    <main>
      <div id="escapingBallG">
        <div id="escapingBall_1" class="escapingBallG"></div>
      </div>
      <div class="modal-overlay"></div>
      <div id="modal" class="modal">
      </div>
      <section id="main-panel" class="main-panel">
        <div class="main-panel-radio">
          <input id="select-1" class="main-panel-radio-input" type="radio" name="select" value="orders" checked/>
          <label for="select-1"> Заказы</label>
        </div>
  
        <div class="main-panel-radio">
          <input id="select-2" class="main-panel-radio-input" type="radio" name="select" value="games" />
          <label for="select-2">Игры</label>
        </div>
  
        <div class="main-panel-radio">
          <input id="select-3" class="main-panel-radio-input" type="radio" name="select" value="profiles" />
          <label for="select-3">Профиль</label>
        </div>
  
        <div class="main-panel-radio">
          <input id="select-4" class="main-panel-radio-input" type="radio" name="select" value="finances" />
          <label for="select-4">Финансы</label>
        </div>
  
        <div class="main-panel-radio">
          <input id="select-5" class="main-panel-radio-input" type="radio" name="select" value="notifications" />
          <label for="select-5">Уведомления</label>
        </div>
        <div class="main-panel-radio">
          <input id="select-6" class="main-panel-radio-input" type="radio" name="select" value="users" />
          <label for="select-6">Пользователи</label>
        </div>
      </section>
      <section id="content" class="content"></section>
    </main>
    <section id="payment-icons" class="payment-icons">
      <div id="payment-icons-container" class="payment-icons-container">
        <img src="/img/pay/brandico_mastercard.png">
      </div>
      <div id="payment-icons-container" class="payment-icons-container">
        <img src="/img/pay/brandico_visa.png">
      </div>
      <div id="payment-icons-container" class="payment-icons-container">
        <img src="/img/pay/cryptocurrency_usdt.png">
      </div>
    </section>
    <footer id="footer" class="footer">
      <section>
        <div id="footer-top" class="footer-top">
          <div id="footer-top-left" class="footer-top-left">
            <h3>О сайте</h3>
            <div>
              <a href="/">Поддержка</a>
            </div>
          </div>
          <div id="footer-top-right" class="footer-top-right">
            <h3>Клиенту</h3>
            <div>
              <a href="/">Политика конфиденциальности</a>
              <a href="/">Использование cookies</a>
              <a href="/">Правила</a>
              <a href="/">Публичная оферта</a>
            </div>
          </div>
        </div>
        <div id="footer-bot" class="footer-bot">
          <p>Site не одобрен, не связан напрямую, не поддерживается и не спонсируется Blizzard Entertainment, Bungie, Electronic Arts, Grinding Gear Games, Activision Publishing, Square Enix Co., Valve, Battlestate Games, Wargaming.net Limited, Amazon Technologies, Jagex Limited. , Riot Games, Smilegate RPG, Digital Extremes. Взгляды и мнения, выраженные Site, не отражают точку зрения кого-либо, официально связанного с производством или управлением их игровых франшиз. Защищенные авторским правом произведения искусства, представленные в Site или через него, остаются интеллектуальной собственностью соответствующего правообладателя. Site не занимается продажей внутриигровых предметов. Вместо этого наш сервис направлен на улучшение игровых навыков игроков и иногда дарит пользователям внутриигровые предметы.</p>
        </div>
      </section>
    </footer>
  </div>

  <script type="module" src="/javascript/admin.js"></script>
<!--   <script type="module" src="/javascript/main.js"></script>
  <script type="module" src="/javascript/loadingIndicator.js"></script> -->
</body>
</html>