.notification-content-container-button {
  display: flex;
  width: 147px;
  height: 34px;
  background: linear-gradient(to bottom, #F4C27D 0%, #5C411C 100%);
  border: 1px solid linear-gradient(to bottom, #575757 21%, #F9F9F9 100%);
  border-radius: 10px;
  color: #1F1A3A;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  border: none;
  background-color: #007bff;
  color: #1F1A3A;
  cursor: pointer;
  font-size: 16px;
  gap: 5px;
}  
.notification-content-container-button:hover {
  background-color: #1F1A3A;
  background-image: none;
  color: #F4C27D;
  border: 2px solid #F4C27D;
  box-shadow: 0 4px 8px rgba(255, 122, 0, 0.5);
}
.notification-content-container-button div {
  order: 2;
}
.notification-content-container-button img {
  /* margin-left: 10px; */
  order: 1;
  width: 20px;
  height: 20px;
}
.notifications-container {
  width: 100%;
}
.notifications-container p {
  color: #8778D9;
}
.notification-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  /* background: #151129; */
  gap: 15px;
}
.indicator-telegram {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 15%;
  height: 34px;
  font-weight: 900;
}
.container-button-not {
  display: flex;
  align-items: center;
  gap: 15px;
}