@font-face {
  font-family: 'TTMilks';
  src: url('../../../fonts/TTMilks/TTMilks-DemiBold.woff2') format('woff2');
/*        url('../fonts/TTMilks/TTMilksScript-Regular.woff2') format('woff2'),
       url('../fonts/TTMilks/TTMilksScript-Regular.woff2') format('woff2'), */
  font-weight: normal;
  font-style: normal;
}
:root {
  --switch-width: 80px; /* ширина переключателя */
  --switch-height: 34px; /* высота переключателя */
  --switch-padding: 4px; /* внутренний отступ */
}
.product-button_create-gold {
  width: 134px;
  height: 29px;
  font-size: 16px;
  background: linear-gradient(to bottom, #F4C27D 0%, #5C411C 100%);
  border: 1px solid linear-gradient(to bottom, #575757 21%, #F9F9F9 100%);
  border-radius: 10px;
  color: #1F1A3A;
  font-family: 'TTMilks';
  cursor: pointer;
  transition: background-color 1s ease, background-image 1s ease;
}
.product-button_create-gold:hover {
  background-color: #1F1A3A;
  background-image: none;
  color: #F4C27D;
  border: 2px solid #F4C27D;
  box-shadow: 0 4px 8px rgba(255, 122, 0, 0.5);
}
.product-filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-content-container {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1280px;
  gap: 15px;
  font-family: 'TTMilks';
	margin-top: 20px;
}
.product-content-row {
	display: flex;
	justify-content: start;
  align-items: center;
	height: 100px;
	width: 100%;;
	gap: 15px;
	border-radius: 10px;
	background-color: rgba(135, 120, 217, 0.4);
  border: 1px solid #8778D9;
	cursor: pointer;
}
.product-content-row:hover {
  border: 1px solid #FF7A00;
}

.product-content-row::before{
  content: "";
  width: 20px;
  flex-shrink: 0;
}
.product-content-row::after{
  content: "";
  width: 20px;
  flex-shrink: 0;
}
.product-content-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  gap: 5px;
}
.product-content-cell div {
  display: flex;
  flex-direction: column;
  justify-content: center;
/*   align-items: center; */
}
.product-content-cell button {
  width: 130px;
  height: 50%;
  background-color: #E3A64B;
  color: #1F1A3A;
  font-family: 'TTMilks';
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}
.product-content-cell button {
  border-radius: 10px;
  color: white;
  font-size: 16px;
  transition: .2s linear;
  background: #E3A64B;
}
.product-content-cell div:first-of-type button {
  background: red;
}
.product-content-cell button:hover {
  -webkit-transform: rotateZ(5deg);
  -ms-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}
.enable-disable-chapter {
  display: none;
}

.enable-disable-chapter + label {
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
  cursor: pointer;
  font-family: Arial, sans-serif;
  user-select: none;
}

.enable-disable-chapter + label .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c71111;
  border-radius: var(--switch-height);
  transition: background-color 0.3s ease;
}

.enable-disable-chapter + label .slider::before {
  content: "";
  position: absolute;
  width: calc(var(--switch-height) - var(--switch-padding) * 2);
  height: calc(var(--switch-height) - var(--switch-padding) * 2);
  background-color: white;
  border-radius: 50%;
  top: var(--switch-padding);
  left: var(--switch-padding);
  transition: transform 0.3s ease;
}

.enable-disable-chapter + label .text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}

.enable-disable-chapter + label .text.off {
  color: #fff;
  left: 10px;
  transition: opacity 0.3s ease;
}

.enable-disable-chapter + label .text.on {
  color: #fff;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.enable-disable-chapter:checked + label .slider {
  background-color: #4caf50;
}

.enable-disable-chapter:checked + label .slider::before {
  transform: translateX(calc(var(--switch-width) - var(--switch-height)));
}

.enable-disable-chapter:checked + label .text.off {
  opacity: 0;
}

.enable-disable-chapter:checked + label .text.on {
  opacity: 1;
}


@media only screen and (max-width: 1024px) {
  .main-header {
    max-width: 980px;
  }
  .product-content-container {
    width: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seller-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
  }
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
  .product-filter-container {
    display: flex;
    justify-content: start;
    gap: 30px;
  }
  .main-content {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-panel {
   /*  max-width: 960px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .seller-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 480px;
  }
  .main-content {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-header {
    max-width: 480px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }
  .product-filter-container {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .product-filter-container-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .product-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
  }
  .product-content-row {
    display: flex;
    gap: 8px;
    font-size: 10px;
    width: 90%;
  }
  .product-content-row .product-content-cell:nth-child(3) {
    display: none;
  }
  .product-content-row .product-content-cell:nth-child(4) {
    display: none;
  }
/*   header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
}


@media only screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .seller-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 440px;
  }
  .main-content {
    max-width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-header {
    max-width: 440px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }
  .product-filter-container {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .product-filter-container-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .product-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 440px;
  }
  .product-content-row {
    display: flex;
    gap: 8px;
    font-size: 10px;
    width: 100%;
  }
  .product-content-row .product-content-cell:nth-child(3) {
    display: none;
  }
  .product-content-row .product-content-cell:nth-child(4) {
    display: none;
  }
  .product-content-row button {
    width: 60px;
    height: 30%;
    background-color: #E3A64B;
    color: #1F1A3A;
    font-family: 'TTMilks';
    font-size: 12px;
    cursor: pointer;
  }
/*   header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
}
