@font-face {
  font-family: 'TTMilks';
  src: url('../../../fonts/TTMilks/TTMilks-DemiBold.woff2') format('woff2');
/*        url('../fonts/TTMilks/TTMilksScript-Regular.woff2') format('woff2'),
       url('../fonts/TTMilks/TTMilksScript-Regular.woff2') format('woff2'), */
  font-weight: normal;
  font-style: normal;
}
.product-button_create-gold {
  width: 134px;
  height: 29px;
  font-size: 16px;
  background: linear-gradient(to bottom, #575757 21%, #F4C27D);
  border-radius: 10px;
  color: #1F1A3A;
  font-family: 'TTMilks';
  cursor: pointer;
}
.product-filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-content-container {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1280px;
  gap: 15px;
  font-family: 'TTMilks';
	margin-top: 20px;
}
.product-content-row {
	display: flex;
	justify-content: start;
  align-items: center;
	height: 100px;
	width: 100%;;
	gap: 15px;
	border-radius: 10px;
	background-color: rgba(135, 120, 217, 0.4);
	cursor: pointer;
}
.product-content-row:hover {
  border: 1px solid #FF7A00;
}

.product-content-row::before{
  content: "";
  width: 20px;
  flex-shrink: 0;
}
.product-content-row::after{
  content: "";
  width: 20px;
  flex-shrink: 0;
}
.product-content-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  gap: 5px;
}
.product-content-cell div {
  display: flex;
  flex-direction: column;
  justify-content: center;
/*   align-items: center; */
}
button {
  width: 100px;
  height: 30%;
  background-color: #E3A64B;
  color: #1F1A3A;
  font-family: 'TTMilks';
  cursor: pointer;
}
/* .enable-disable-chapter {
  
} */

@media only screen and (max-width: 1024px) {
  .main-header {
    max-width: 980px;
  }
  .product-content-container {
    width: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seller-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
  }
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
  .product-filter-container {
    display: flex;
    justify-content: start;
    gap: 30px;
  }
  .main-content {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-panel {
   /*  max-width: 960px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .seller-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 480px;
  }
  .main-content {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-header {
    max-width: 480px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }
  .product-filter-container {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .product-filter-container-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .product-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
  }
  .product-content-row {
    display: flex;
    gap: 8px;
    font-size: 10px;
    width: 90%;
  }
  .product-content-row .product-content-cell:nth-child(3) {
    display: none;
  }
  .product-content-row .product-content-cell:nth-child(4) {
    display: none;
  }
/*   header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
}


@media only screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .seller-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 440px;
  }
  .main-content {
    max-width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-header {
    max-width: 440px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }
  .product-filter-container {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .product-filter-container-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .product-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 440px;
  }
  .product-content-row {
    display: flex;
    gap: 8px;
    font-size: 10px;
    width: 100%;
  }
  .product-content-row .product-content-cell:nth-child(3) {
    display: none;
  }
  .product-content-row .product-content-cell:nth-child(4) {
    display: none;
  }
  .product-content-row button {
    width: 60px;
    height: 30%;
    background-color: #E3A64B;
    color: #1F1A3A;
    font-family: 'TTMilks';
    font-size: 12px;
    cursor: pointer;
  }
/*   header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
}
