@font-face {
  font-family: 'TTMilks';
  src: url('../../../fonts/TTMilks/TTMilks-DemiBold.woff2') format('woff2');
/*        url('../fonts/TTMilks/TTMilksScript-Regular.woff2') format('woff2'),
       url('../fonts/TTMilks/TTMilksScript-Regular.woff2') format('woff2'), */
  font-weight: normal;
  font-style: normal;
}
.profiles-container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  /* padding-right: 720px; */
  padding-left: 20px;
  gap: 20px;
}
.profiles-container  input {
  width: 40%;
  height: 29px;
  border: 1px solid #8778D9;
  background-color: #2F2566;
  color: white;
}
.profiles-container-name {
  display: flex;
  gap: 20px;
}
.profiles-container-name_name {
  font-size: 32px;
  font-family: 'TTMilks';
}
.profiles-container-name_div__email_id {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #8778D9;
  gap: 3px;
}
.profiles-container-verif {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #8778D9;
  gap: 5px;
}
.profiles-container-verif button {
	width: 15%;
	height: 39px;
}
.profiles-button-save {
  width: 15%;
	height: 39px;
}
.profiles-container button {
	color: #1F1A3A;
  font-family: 'TTMilks';
  font-size: 16px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #F4C27D 0%, #5C411C 100%);
  border: 1px solid linear-gradient(to bottom, #575757 21%, #F9F9F9 100%);
  cursor: pointer;
  transition: background-color 1s ease, background-image 1s ease;
}
.profiles-container button:hover {
  background-color: #1F1A3A;
  background-image: none;
  color: #F4C27D;
  border: 2px solid #F4C27D;
  box-shadow: 0 4px 8px rgba(255, 122, 0, 0.5);
}
.profiles-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profiles-input {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1024px) {
  .main-header {
    max-width: 980px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profiles-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 620px;
  }
  .profiles-container-verif button {
    max-width: 100px;
    font-size: 12px;
  }
  .profiles-container button {
    max-width: 140px;
    font-size: 12px;
  }
  input {
    width: 100%;
  }
  .profiles-container-name {
    justify-content: center;
    align-items: center;
  }
  .profiles-container-verif {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media only screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profiles-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
  }
  .profiles-container-verif button {
    max-width: 100px;
    font-size: 12px;
  }
  .profiles-container button {
    max-width: 140px;
    font-size: 12px;
  }
  input {
    width: 100%;
  }
/*   .profiles-container {
    max-width: ;
  } */
}
