.finance-content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.order-content-row {
  display: flex;
  justify-content: space-between; /* Change to space-between for better alignment */
  align-items: center;
  height: 100px;
  width: 100%;
  gap: 20px;
  border-radius: 10px;
  background-color: rgba(135, 120, 217, 0.4);
  cursor: pointer;
}

.order-content-row::before {
  content: "";
  width: 20px;
  flex-shrink: 0;
}

.order-content-row::after {
  content: "";
  width: 20px;
  flex-shrink: 0;
}

.order-content-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  gap: 5px;
}

.order-content-cell div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.finance_methods-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.finance_methods-container label {
  width: auto; /* Adjust width to auto */
}

.finance_methods-container input {
  width: auto; /* Adjust width to auto */
  flex-grow: 1; /* Allow input to take available space */
}

.finance-panel_inputs-container {
  display: flex;
  flex-direction: column; /* Change to column for vertical alignment */
  gap: 10px;
}

#payment-course {
  width: auto; /* Adjust width to auto */
}