.user-content-container {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1280px;
  gap: 15px;
  margin-top: 20px;
  font-family: 'TTMilks';
}
.user-content-row {
	display: flex;
	justify-content: start;
  align-items: center;
	height: 100px;
	width: 100%;;
	gap: 15px;
	border-radius: 10px;
	background-color: rgba(135, 120, 217, 0.4);
	cursor: pointer;
}

.user-content-row::before{
  content: "";
  width: 20px;
  flex-shrink: 0;
}
.user-content-row::after{
  content: "";
  width: 20px;
  flex-shrink: 0;
}
.user-content-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  gap: 5px;
}
.user-content-cell div {
  display: flex;
  flex-direction: column;
  justify-content: center;
/*   align-items: center; */
}
.users-filter-container {
  display: flex;
  gap: 10px;
}