@font-face {
  font-family: 'TTMilks';
  src: url('../fonts/TTMilks/TTMilks-DemiBold.woff2') format('woff2');
/*        url('../fonts/TTMilks/TTMilksScript-Regular.woff2') format('woff2'),
       url('../fonts/TTMilks/TTMilksScript-Regular.woff2') format('woff2'), */
  font-weight: normal;
  font-style: normal;
}
.modal {
  display: none;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 70%;
  background-color: #141027;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  z-index: 1000;
  flex-direction: column;
  padding: 20px; 
  font-family: 'TTMilks';
  overflow: auto;
  gap: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.3s ease; /* Анимация появления */
}
.seller-product-modal {
  display: none;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 70%;
  background-color: #141027;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  z-index: 1000;
  flex-direction: column;
  padding: 20px; 
  font-family: 'TTMilks';
  overflow: auto;
  gap: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.3s ease; /* Анимация появления */
}

.modal-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.modal-button-close,
.modal-button-create-newgame,
.modal-button-create-savegame,
.modal-button-create-chapter {
  margin-top: 50px;
	width: 136px;
	height: 39px;
	color: #1F1A3A;
  font-family: 'TTMilks';
  font-size: 20px;
	background: linear-gradient(to bottom, #575757 21%, #F4C27D);;
}
.modal-button-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
  
}
.modal-button-container button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
  margin-top: 50px;
	width: 136px;
	height: 39px;
	color: #1F1A3A;
  font-family: 'TTMilks';
  font-size: 20px;
	background: linear-gradient(to bottom, #575757 21%, #F4C27D);
}
.modal-overlay {
  display: none;
  position: fixed; /* Фиксированное позиционирование */
  top: 0; /* Верх экрана */
  left: 0; /* Левый край экрана */
  width: 100%; /* Ширина всей страницы */
  height: 100%; /* Высота всей страницы */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
  z-index: 999; /* z-index ниже модального окна, но выше всего остального */
}
.modal-content input {
  width: 40%;
  height: 29px;
  border: 1px solid #8778D9;
  background-color: #2F2566;
  color: white;
}
.admin-product-modal input {
  width: 40%;
  height: 29px;
  border: 1px solid #8778D9;
  background-color: #2F2566;
  color: white;
}
select {
  width: 230px;
  height: 29px;
  border: 1px solid #8778D9;
  background-color: #2F2566;
  color: white;
}
#chapter-type-button {
  width: 95px;
  height: 29px;
  background: #2F2566;
  color: #E3A64B;
  border: 1px solid #383838;
  border-radius: 5px;
}
.chapter-options-buttons-add {
  width: 94.25px;
	height: 24px;
	color: white;
  background-color: #E3A64B;
}
.modal-games-add-region-button {
  width: 94.25px;
	height: 24px;
	color: white;
  background-color: #E3A64B;
}
.chapter-options-buttons-delete {
  width: 94.25px;
	height: 24px;
	color: white;
  background-color: red;
}
.modal-chapter-edit-options-button_delete {
  width: 94.25px;
	height: 24px;
	color: white;
  background-color: red;
}
.modal-games-delete-region-button {
  width: 94.25px;
	height: 24px;
	color: white;
  background-color: red;
}
.modal-chapter-edit-button-add_option {
  width: 94.25px;
	height: 24px;
	color: white;
  background-color: #E3A64B;
}
.modal-chapter-edit-options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-chapter-edit-options-container-element {
  display: flex;
  gap: 5px;
}

.admin-product-modal {
  display: none;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 70%;
  background-color: #141027;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  z-index: 1000;
  flex-direction: column;
  padding: 20px; 
  font-family: 'TTMilks';
  overflow: auto;
  gap: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.3s ease; /* Анимация появления */
}
@keyframes slideIn {
  from {
      opacity: 0;
      transform: translate(50%, -50%); /* Начальное положение справа */
  }
  to {
      opacity: 1;
      transform: translate(-50%, -50%);
  }
}
.modal-button {
  margin-top: 50px;
	width: 136px;
	height: 39px;
	color: #1F1A3A;
  font-family: 'TTMilks';
  font-size: 20px;
	background: linear-gradient(to bottom, #575757 21%, #F4C27D);;
  cursor: pointer;
}
.modal-button-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
  
}
.modal-button-container button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
  margin-top: 50px;
	width: 136px;
	height: 39px;
	color: #1F1A3A;
  font-family: 'TTMilks';
  font-size: 20px;
	background: linear-gradient(to bottom, #575757 21%, #F4C27D);;
}
.modal-overlay {
  display: none;
  position: fixed; /* Фиксированное позиционирование */
  top: 0; /* Верх экрана */
  left: 0; /* Левый край экрана */
  width: 100%; /* Ширина всей страницы */
  height: 100%; /* Высота всей страницы */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
  z-index: 999; /* z-index ниже модального окна, но выше всего остального */
}
.admin-product-modal span {
  display: flex;
  align-items: center;
  width: 60%;
  height: 7%;
  border: 1px solid #8778D9;
  background-color: #2F2566;
  color: white;
}