@font-face {
  font-family: 'TTMilks';
  src: url('../fonts/TTMilks/TTMilks-DemiBold.woff2') format('woff2');
/*        url('../fonts/TTMilks/TTMilksScript-Regular.woff2') format('woff2'),
       url('../fonts/TTMilks/TTMilksScript-Regular.woff2') format('woff2'), */
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  color: white;
  /* max-width: 1170px; */
  margin: 0 auto;
  font-family: 'TTMilks';
/*   padding-left: 16px;
  padding-right: 16px; */
}



/* Мобильные устройства (портрет) */
@media only screen and (max-width: 480px) {

}

/* Планшеты (портрет) */
@media only screen and (max-width: 768px) {

}

/* Планшеты (альбом) и маленькие ноутбуки */
@media only screen and (max-width: 1024px) {
}

/* Ноутбуки и десктопы */
/* @media only screen and (min-width: 1024px) {
} */