<!DOCTYPE html>
<html>
<head>
  <title>Steam App</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/contact.css">
  <link rel="stylesheet" href="/styles/payment.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />

<body>
  <div id="home-container" class="home-container">
    <header>
      <div class="logo-contact">
        <section id="logo" class="logo">
          <a href="/">
            <img src="img/logo.png">
          </a>
        </section>
        <nav>
          <a id="contact"  class="contact" href="/contact">Контакты</a>
        </nav>
      </div>
      <section id="profile-info" class="profile-info">
      </section>
  <!--       <div id="profile-info-balance" class="profile-info-balance">

        </div>
        <div id="profile-info-link" class="profile-info-link">
          <a id="profile-info-menu" class="profile-info-link-menu"></a>
          <button id="logout">Выйти</button>
        </div>
      -->
    </header>
    <main>
      <div id="main-content" class="main-content">
        <div id="main-content-top" class="main-content-top">
          <div id="main-content-top-h2" class="main-content-top-h2">
            <h2>Связь с администрацией</h2>
          </div>
          <div id="main-content-top-button" class="main-content-top-button">
            <button><a href="https://t.me/Mmopix_shop"><img src="img/contact/logos_telegram.png">Написать</a></button>
          </div>
        </div>
        <div id="main-content-bottom" class="main-content-bottom">
          <div class="main-content-bottom-h2">
            <h2>Группы в социальных сетях</h2>
          </div>
          <div class="main-content-bottom-icons">
            <div class="main-content-bottom-icons-container">
              <div class="main-content-bottom-icon"><a href="https://discord.com/invite/K5AY6hqatF"><img src="img/contact/discord.png"></a></div>
              <div class="main-content-bottom-icon"><a href="https://t.me/mmopix_store"><img src="img/contact/telegram.png"></a></div>
              <div class="main-content-bottom-icon"><a href="https://vk.com/mmopix"><img src="img/contact/vk.png"></a></div>
            </div>
            <div class="main-content-bottom-icons-container">
              <div class="main-content-bottom-icon"><a href="https://www.youtube.com/@mmopixcom"><img src="img/contact/YouTube.png"></a></div>
              <div class="main-content-bottom-icon"><a href="/"><img src="img/contact/TikTok.png"></a></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <section id="payment-icons" class="payment-icons">
      <div id="payment-icons-container" class="payment-icons-container">
        <img src="/img/pay/brandico_mastercard.png">
      </div>
      <div id="payment-icons-container" class="payment-icons-container">
        <img src="/img/pay/brandico_visa.png">
      </div>
      <div id="payment-icons-container" class="payment-icons-container">
        <img src="/img/pay/cryptocurrency_usdt.png">
      </div>
    </section>
    <footer id="footer" class="footer">
      <section id="footer-container" class="footer-container">
        <div id="footer-top" class="footer-top">
          <div id="footer-top-left" class="footer-top-left">
            <h3>О сайте</h3>
            <div>
              <a href="https://t.me/Mmopix_shop">Поддержка</a>
            </div>
          </div>
          <div id="footer-top-right" class="footer-top-right">
            <h3>Клиенту</h3>
            <div>
              <a href="/">Политика конфиденциальности</a>
              <a href="/">Использование cookies</a>
              <a href="/">Правила</a>
              <a href="/">Публичная оферта</a>
            </div>
          </div>
        </div>
        <div id="footer-bot" class="footer-bot">
          <p>Site не одобрен, не связан напрямую, не поддерживается и не спонсируется Blizzard Entertainment, Bungie, Electronic Arts, Grinding Gear Games, Activision Publishing, Square Enix Co., Valve, Battlestate Games, Wargaming.net Limited, Amazon Technologies, Jagex Limited. , Riot Games, Smilegate RPG, Digital Extremes. Взгляды и мнения, выраженные Site, не отражают точку зрения кого-либо, официально связанного с производством или управлением их игровых франшиз. Защищенные авторским правом произведения искусства, представленные в Site или через него, остаются интеллектуальной собственностью соответствующего правообладателя. Site не занимается продажей внутриигровых предметов. Вместо этого наш сервис направлен на улучшение игровых навыков игроков и иногда дарит пользователям внутриигровые предметы.</p>
        </div>
      </section>
    </footer>
    <script type="module" src="/javaScript/home.js"></script>
<!--   <script type="module" src="/javascript/main.js"></script>
  <script type="module" src="/javascript/loadingIndicator.js"></script> -->
  </div>
</body>
</html>