<!DOCTYPE html>
<html>
<head>
  <title>Steam App</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon" /> -->

<body>
  <header>
    <section id="logo" class="logo">

    </section>
    <nav>
      <a id="contact" class="contact"></a>
    </nav>
  </header>
  <main>

  </main>
  <footer>

  </footer>
  <h1>Главная</h1>
  <button id="logout">Выйти</button>
  <script type="module" src="/javascript/home.js"></script>
<!--   <script type="module" src="/javascript/main.js"></script>
  <script type="module" src="/javascript/loadingIndicator.js"></script> -->
</body>
</html>